# Pipelight internal api folder
.pipelight

!/**/templates/
!/**/template/

# Test artifacts
test/*pipelight*
/**/test_*/
/**/*_test/

## Build directories
/packages
/autocompletion
/target

# Nixos
/result
gifs/

## Nixos direnv cache
.direnv

