# Pipelight internal api folder
.pipelight/
## Nixos direnv cache
.direnv
# Nixos
/result

# Test artifacts
test/*pipelight*
tests/*pipelight*
**/test_*/

## Build directories
/packages
/autocompletion
/target

