[package]
name = "tyrust"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.0.27", features = ["derive"] }
log = "0.4.17"
log4rs = "1.2.0"
subprocess = "0.2.9"
